*.yml        @kibertoad @rupert-mckay @lokankr @drdaemos @andris-sevcenko @ForterLokalise
*.md         @kibertoad @rupert-mckay @lokankr @drdaemos @andris-sevcenko @ForterLokalise
*.ts         @kibertoad @rupert-mckay @lokankr @drdaemos @andris-sevcenko @ForterLokalise
package.json @kibertoad @rupert-mckay @lokankr @drdaemos @andris-sevcenko @ForterLokalise
